[submodule "gohighlevel_python_sdk"]
	path = gohighlevel_python_sdk
	url = https://github.com/MB0390231/gohighlevel_python_sdk.git
[submodule "clickup_python_sdk"]
	path = clickup_python_sdk
	url = https://github.com/MB0390231/clickup_python_sdk.git
